body{
	color:#6F008C;
	background: url(1477644195_002.jpg) top / cover;
	text-shadow:#FF7C00 0 0 5px;
	margin: auto;
	max-width:1400px;
}
header {
	padding-bottom: 54px;
	margin: 0 auto;
}
h1{	
 	text-transform: uppercase;
	font-family:abaddon;
	text-align:center;
	font-size:90px;
	cursor: default;
}

.about_a{
	width: 300px;
	height: 400px;
}

.nav-burger__checkbox {
	display: none;
}
.menu { 
	position: absolute;
	max-width:1000px;
	width:100%;
	top: 250px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
	display: flex;
	border: 9px dotted black;
	background: rgba(224, 228, 3, 0.925);
	border-radius: 30px;
}
.menu li {
	list-style: none;
	width:100%;
}
.active {
	background-color: #D5AE00;
	color: #000;
	pointer-events: none;
}
.menu li a {
	font-family: Arial;
	position: relative;
	display: block;
	margin: 0 20px;
	padding: 5px 10px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  header {
    padding-bottom: 0;
  }
  .header {
    height: 40px;
    width: 100%;
    position: relative;
    
  }
  nav ul li a {
    display: block;
    height: 50px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #aaa;
  }
  #burger{
    display: none;
  }
  #burger + label{
    display: none; 
    position: relative;
    color: #fff; 
    height: 25px;
    z-index: 1;
    cursor: pointer;
  }
  #burger + label:before{
    content: '\f0c9';  
    display: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
  #burger:checked + label:before{
    content: '\f00d';
    color: #aaa;
  }
  .nav-burger {
    display: block;
    width: 25px;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    background: url(12.svg) no-repeat;
    position: relative;
    top: 9px;
    left: 48%;
    z-index: 1;
  }
  .nav-burger__checkbox {
    display: none;
  }
  .nav-burger__checkbox:checked + .nav-burger {
    background-image: url("Hamburger_icon.svg.png");
  }
  .nav-burger__checkbox:checked ~ .nav {
    display: block;
  }
  .menu{
    z-index:2;
    top: 190px;
    display: flex;
    list-style: none;
  }
  .menu  li  a{
    color: #fff;
    display: block;
  }
  
  #burger + label{
    display: inline-block;
  }
  #burger + label + .menu{
    display: none;
  }
  #burger:checked + label + .menu{
    display: block;
  }
}
.about {
	width: 1345px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	color: pink;
	font-size: 25px;
	background: url(1.JPG) no-repeat center top / cover;
	border-radius: 50px;
	border: 1px groove pink;
	
}
@media screen and (max-width: 767px) {
  .about{
    font-size:14px;
  }
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	font-size:30px;
	line-height:1.2em;
	text-transform:uppercase;
	margin:0;
	text-align:center;
	padding-top:20px;
}
.vajno {
	height:150%;
	min-height: 430px;
	padding-bottom: auto;
	background-color: pink;
	background: url(6.jpg) no-repeat right / cover;
	border-radius: 100px;
}
.vajno a {
	margin-left: 7%;
	background-color: pink;
}
.vajno img {
	height: 40%;
	width: 40%;
	max-width: 270px;
	max-height: 370px;
	border:1px solid pink;
}
@media screen and (max-width: 767px) {
  .vajno {
    min-height: 540px;
	
  }
  .vajno a {
    margin-left:5%;
  }
  
}
.obez { 
	background-color: grey;
	width:100%;
	height: 30%;
	color: #fff;
	font-size: 24px;
}
.text-obez {
	font-family:Arial, Helvetica, sans-serif;
	height: 380px;
}
.image-obez img {
	margin-left:1px;
	border:1px solid #fff;
	float:left;
	height: 50%;
	width: 50%;
}
@media screen and (max-width: 767px) {
  .obez{
    font-size:14px;
  }
}
.gallery {
	height:650px;
	margin: 0 0 60px;
}
.grid {
	position:relative;
	z-index: 0;
	height: 100%;
	width: 100%;
	max-width:1400px;
	margin:auto;
	overflow: auto;
	background-color: none;
	text-align: center;
 
}
.grid .grid-item {
	display: inline-block;
	margin:auto;
	width: 25%;
	padding: 16px;
	cursor: pointer;
}
@media screen and (max-width: 480px) {
  .grid .grid-item {
    width: 100%;
  }
}
.grid img {
	border: 1px solid #fff;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.decor {
	border: 12px dashed pink;
	position: relative;
	max-width: 400px;
	margin: 50px auto 0;
	background: rgba(224, 228, 3, 0.925);
	border-radius: 30px;
  }
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
	outline: 0;
	display: block;
	width: 250px;
	padding: 0 20px;
	margin-bottom: 10px;
	background: rgb(236, 182, 5);
	line-height: 40px;
	border-width: 0;
	border-radius: 20px;
	height: 70px;
  }

.form-inner input[type="submit"] {
	margin-left: 25px;
	outline: 0;
	margin-top: 30px;
	background: rgb(6, 5, 20);
	color: white;
	font-size: 14px;
  }

footer {
	font-family: Arial;
	width:100%;
	margin: 10px; 
	height:20px;
	font-size: 0.7em;
	line-height:1em;
	position:fixed;
	bottom:0;
	color:#fff;
	overflow:hidden;
}
@media screen and (min-width: 1800px) {
  footer {
    position:static;
  }
}